<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>{{welcomeMessage}}</p>
    <p>Username: {{sessionUser.username}}</p>
    <p>Email: {{sessionUser.email}}</p>
    <input type="button" value="Create post" onclick="location.href='/newPost';">
    <p><i>Owned posts go here...</i></p>
    <div>
        {{#if message}} {{message}} {{/if}} {{#each posts}}
        <article>
            <h1>{{title}}</h1>
            <p>{{content}}</p>
        </article>
        <form action="/home" method="post">
            <input type="hidden" name="post_id" value="{{id}}">
            <input type="submit" value="Delete">
        </form>
        <form action="/post/update" method="get">
            <input type="hidden" name="post_id" value="{{id}}">
            <input type="submit" value="Update">
        </form>
        <hr> {{/each}}
    </div>
    <p><i>Posts from followed users go here...</i></p>
    <div>
        {{#if followedPosts}}
        {{#each followedPosts}}
        <article>
            <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
            <p>
                <small>Author: {{username}}</small>
            </p>
        </article>
        <hr> {{/each}} {{else}}
        <p>Nothing to follow...</p>
        {{/if}}
    </div>
</body>
{{> footer}}

</html>