<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}} {{#if messages}}
    <div id="messages">
        {{messages}}
    </div>
    {{/if}}
    <form method="POST">
        <div class="col-xs-4">
            Username:
        </div>
        <div class="col-xs-4">
            <input name="username" type="text" required minlength="5" maxlength="20" value="{{username}}"></input>
        </div>
        <div class="col-xs-4">
            Password:
        </div>
        <div class="col-xs-4">
            {{#if userId}}
            <input name="password" type="password" value="{{password}}"></input>
            {{else}}
            <input name="password" type="password" required minlength="6" maxlength="20" value="{{password}}"></input>
            {{/if}}

        </div>
        <div class="col-xs-4">
            Email:
        </div>
        <div class="col-xs-4">
            <input name="email" type="email" required minlength="4" maxlength="50" value="{{email}}"></input>
        </div>

        <input type="submit"></input>

    </form>
</body>
{{> footer}}

</html>