<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <div>
        {{#if message}} {{message}} {{/if}} {{#each users}}
        <div class="col-md-12">
            <h2>{{username}}</h2>
            <p>{{email}}</p>
        </div>
        <form action="/users" method="post">
            <input type="hidden" name="user_id" value="{{id}}">
            <input type="submit" value="Delete">
        </form>
        <form action="/user/update" method="get">
            <input type="hidden" name="user_id" value="{{id}}">
            <input type="submit" value="Update">
        </form>
        <hr> {{/each}}
    </div>
    <hr>
</body>
{{> footer}}

</html>